<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 系统数据库查询所需SQL文件 -->
<mapper namespace="com.mapper.CommonMapper">
	<!-- 通用方法：根据设备名称查询设备最新一条数据 -->
	<select id="selectDataByName" resultType="com.vo.EquipmentData" parameterType="string">
		 select t.*,time_to_sec(timediff(now(), t.dtm_create)) duration from t_equipment_data2 t  where t.v_equipment_name=#{v_equipment_name} 
		 order by t.dtm_create desc limit 0,1
	</select>
	<select id="selectDataListByName" resultType="com.vo.EquipmentData" parameterType="string">
		 select t.* from t_equipment_data t  where t.v_equipment_name=#{v_equipment_name} 
		 order by t.dtm_create desc limit 0,1000
	</select>
	
	<!-- 查询各系统所需发送的设备列表 -->
	<select id="selectEquipmentListBySystemId" resultType="com.vo.EquipmentProjectVo" parameterType="int">
		 select * from t_equipment_project where i_system_id=#{i_system_id}
	</select>
	
	<!-- 根据系统ID关联查询对应的设备数据列表 ，用于发送设备较多的接口从而降低系统查询次数 -->
	<select id="selectEquipmentDataListBySystemId" resultType="com.vo.EquipmentData" parameterType="int">
		 select t1.v_equipment_name,
				t1.v_project_name,
				t1.v_url,
				t2.v_equipment_name v_real_equipment_name,
				t2.p001,t2.p002,t2.p003,t2.p004,t2.p005,
				t2.p006,t2.p007,t2.p008,t2.p009,t2.p010,
				t2.p011,t2.p012,t2.p013,t2.p014,t2.p015
				 from t_equipment_project t1
				left join t_equipment_data2 t2
				on t1.v_real_equipment_name=t2.v_equipment_name
				where t1.i_system_id=#{i_system_id}
	</select>
	
	<insert id="insertWeatherInfoIntoBuffer" parameterType="com.vo.OrderBufferVo">
		insert into t_order_buffer(v_equipment_name,v_order_content,i_send_flag)
		values(#{v_equipment_name},#{v_order_content},#{i_send_flag})
	</insert>
	
	<insert id="saveEquipmentData" parameterType="com.vo.EquipmentData">
  		insert into t_equipment_data
  		(v_equipment_name,
		p001,p002,p003,p004,p005,p006,p007,p008,p009,p010,p011,p012,p013,p014,p015,
		p016,p017,p018,p019,p020,p021,p022,p023,p024,p025,p026,p027,p028,p029,p030)
  		values
  		(#{v_equipment_name},
  		#{p001},#{p002},#{p003},#{p004},#{p005},#{p006},#{p007},#{p008},#{p009},#{p010},#{p011},#{p012},#{p013},#{p014},#{p015},
		#{p016},#{p017},#{p018},#{p019},#{p020},#{p021},#{p022},#{p023},#{p024},#{p025},#{p026},#{p027},#{p028},#{p029},#{p030})
  </insert>
   <insert id="saveEquipmentData2" parameterType="com.vo.EquipmentData">
  		insert into t_equipment_data2
  		(v_equipment_name,
		p001,p002,p003,p004,p005,p006,p007,p008,p009,p010,p011,p012,p013,p014,p015,
		p016,p017,p018,p019,p020,p021,p022,p023,p024,p025,p026,p027,p028,p029,p030)
  		values
  		(#{v_equipment_name},
  		#{p001},#{p002},#{p003},#{p004},#{p005},#{p006},#{p007},#{p008},#{p009},#{p010},#{p011},#{p012},#{p013},#{p014},#{p015},
		#{p016},#{p017},#{p018},#{p019},#{p020},#{p021},#{p022},#{p023},#{p024},#{p025},#{p026},#{p027},#{p028},#{p029},#{p030})
  </insert>
  <delete id="deleteEquipmentData2" parameterType="com.vo.EquipmentData">
  		delete from t_equipment_data2
  		where v_equipment_name=#{v_equipment_name}
  </delete>
</mapper>