<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/task  http://www.springframework.org/schema/task/spring-task-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	
	<!-- 开启组件注解扫描 -->
    <context:component-scan base-package="com"/>
    
    <context:property-placeholder ignore-unresolvable="true" local-override="true"
                                  location="classpath*:/application.properties"/>
    
    <util:properties id="APP_PROPERTIES" location="classpath:application.properties" local-override="true"/>
	 <!-- 本地数据源 -->
	 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        
        <property name="maxActive" value="${dbcp.maxActive}"/>
        <property name="maxIdle" value="${dbcp.maxIdle}"/>
        <property name="defaultAutoCommit" value="false"/>
        
        <property name="timeBetweenEvictionRunsMillis" value="3600000"/>
        <property name="minEvictableIdleTimeMillis" value="3600000"/>
    </bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	  <property name="dataSource" ref="dataSource" />
	  <property name="mapperLocations" value="classpath*:com/xml/*_mapper.xml" />
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
	  <constructor-arg index="0" ref="sqlSessionFactory" />
 	  <constructor-arg index="1" value="SIMPLE" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	  <property name="basePackage" value="com.mapper"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <task:scheduled-tasks>
		<!-- 开封定时器 -->
		<task:scheduled ref="kfQuartz" method="startTimeTask" cron="0 0/5 * * * ?"/>
		<!-- 河北石家庄定时器 -->
		<task:scheduled ref="hbQuartz" method="startTimeTask" cron="0 0/10 * * * ?"/>
		<!-- 安阳、三门峡定时器 -->
		<task:scheduled ref="aysmQuartz" method="startAysmTimeTask" cron="0 0/10 * * * ?"/>
		<!-- 安阳滑县定时器 -->
		<!-- <task:scheduled ref="ayhxQuartz" method="startAyhxTimeTask" cron="5 0/10 * * * ?"/> -->
		<!-- 山东济宁定时器 -->
		<task:scheduled ref="sdQuartz" method="startSdjnTimeTask" cron="15 0/10 * * * ?"/>
		<!-- 郑州交委定时器 -->
		<task:scheduled ref="trafficQuartz" method="startZztraTimeTask" cron="20 0/10 * * * ?"/>
		<!-- 郑州特比佳定时器 -->
		<task:scheduled ref="zztbjQuartz" method="startZztbjTimeTask" cron="25 0/10 * * * ?"/>
		<!-- 平顶山宝丰县定时器 -->
		<task:scheduled ref="pdsQuartz" method="startPdsTimeTask" cron="10 0/10 * * * ?"/>
		<!-- 天气预报定时器 -->
		<task:scheduled ref="weatherQuartz2" method="startTimeTask" cron="0 10 7,9,11,13,15,17 * * ?"/>
		<!-- 更新经纬度定时器 -->
		<task:scheduled ref="updateGPSQuartz" method="startTimeTask" cron="0 0 7-19 * * ?"/>
		<!-- 西安高新区定时器 -->
		<task:scheduled ref="xanewQuartz" method="startTimeTask" cron="0 0/5 * * * ?"/>
		<!-- 湖南长沙定时器 -->
		<task:scheduled ref="hncsQuartz" method="startTimeTask" cron="0 0/5 * * * ?"/>
		<!-- 洛阳伊川定时器 -->
		<task:scheduled ref="lyycQuartz" method="startTimeTask" cron="0 0/5 * * * ?"/>
		<!-- 开封2定时器 -->
		<task:scheduled ref="kf2Quartz" method="startTimeTask" cron="0 0/5 * * * ?"/>
		<!-- 安阳滑县2定时器 -->
		<task:scheduled ref="ayhx2Quartz" method="startTimeTask" cron="0 0/5 * * * ?"/>
		<!-- 周口项城定时器 -->
		<task:scheduled ref="zkxcQuartz" method="startTimeTask" cron="0 0/5 * * * ?"/>
		<!-- 郑许线监控定时器 -->
		<task:scheduled ref="zxlineQuartz" method="startTimeTask" cron="0 0/8 * * * ?"/>
	</task:scheduled-tasks>
</beans>